
.banner {
 background-size: cover;
 height: 600px;
 width: 100%;
 background-position: 30% 15%;
 filter: brightness(50%);

}


.text-banner {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: white;
}


span {
  color: #E3170A;
}

.text-banner h1 {
 font-size: 55px;
}
