.btn-danger {
  background-color: #E3170A !important;
  border-color: #E3170A;
  padding: 8px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
}

.btn-danger:hover {
  background-color: #E3170A !important;
  color: white !important;
  border-color: #E3170A;
  opacity: 0.4 !important;
}
