
.style-title{
  text-align: center;
}

.style-title h1 {
  color: #26272b;
}

.card {
  margin-top: 20px;
  border: none !important;
  height: 250px;
}

.padding-btm {
  padding-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .card {
    height: 300px;
  }
}

@media screen and (max-width: 788px) {
  .card {
    height: 330px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    height: 250px;
  }
}

@media screen and (max-width: 500px) {
  .card {
    height: 200px;
  }
}

@media screen and (max-width: 500px) {
  .card p{
   overflow: visible !important;
  }
}

.image-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #26272b;
}

.card p {
  text-align: center;
  color: white;
  background-color: #26272b;
  overflow: auto;

}

/*.card-color {
  background-color: #26272b;
}
*/

.background-color {
  background-color: #26272b;
  width: 100%;
}

.card {
  background-color: #26272b !important;
}



/*card*/
#benefits {
  background-color: #26272b;
}

.row {
     margin-right: 0px !important;
     margin-left: 0px !important;
}
