.modal-header {
  background-color: #E3170A;
  color: white;
  border-radius: 3px 3px !important;
}

.modal-title {
  text-align: center;
}

.form-control{
border: 1px solid #26272b !important;
outline: none;
box-shadow:none !important;

}

.btn-primary {
    color: white;
    background-color: #E3170A !important;
    border-color: #E3170A !important;
}

.btn-primary:hover {
  color: white !important;
  background-color: #26272b !important;
  border-color: #26272b!important;
}

#success-pop-up {
  visibility: hidden;
}

#error-pop-up {
  visibility: hidden;
}

.form-control:hover{
border: 1px solid #E3170A !important;
outline: none;
box-shadow:none !important;
}

.button-align {
  /*this will align the button center*/
  margin: 0 auto;
}


button.close:hover {
  color: #26272b !important;
}

button.close{
  color: #26272b !important;
 }


/*alert*/
.alert-warning {
    color: white !important;
    background-color: #ff000096 !important;
    border-color: transparent !important;
}

.alert {
    position: fixed !important;
    bottom: 16px !important;
    right: 16px !important;
    z-index: 1000 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.alert-dismissible {
  padding-right: 4rem !important;
}

.close span:hover {
  color: #26272b;
}

.close span {
  color: white;
}
