.modal-header {
  background-color: #E3170A;
  color: white;
  border-radius: 3px 3px !important;
}

.form-control{
border: 1px solid #26272b !important;
outline: none;
box-shadow:none !important;

}

.btn-primary {
    color: white;
    background-color: #E3170A !important;
    border-color: #E3170A !important;
}

.btn-primary:hover {
  color: white !important;
  background-color: #26272b !important;
  border-color: #26272b!important;
}


.form-control:hover{
border: 1px solid #E3170A !important;
outline: none;
box-shadow:none !important;
}

.button-align {
  /*this will align the button center*/
  margin: 0 auto;
}


button.close:hover {
  color: #26272b !important;
}

button.close{
  color: #26272b !important;
 }
