.navbarbottom {
  width: 100%;
  top: 0px;
  transition: .5s;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.navbarbottom ul li {
  list-style-type: none;
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
}

.navbarbottom a {
  color: white;
}

.navbarbottom a:hover {
  color: #26272b;
  text-decoration: none;
}



.navbar {
  width: 100%;
  padding: 20px;
  top: 0px;
  transition: .5s;
  padding: 0rem 0rem !important;
}

.navbar ul li {
  list-style-type: none;
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;

}

.navbar ul {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-inline-start: 0px !important;
}

.navbarbottom ul {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-inline-start: 0px !important;

}

.navbar a {
  color: white;

}

.navbar a:hover {
  color: #E3170A;
  text-decoration: none;

}

.footer-bottom h4{
  font-size: 15px;
}


/*.logo-phrase{
  font-size: 12px;
  color: white;
  font-family: 'Great Vibes', cursive !important;
  display: inline-block;
}*/


#nav {
  z-index: 1;
  position: fixed;
  /*opacity: 0.8;*/
}



.logo-phrase h6{
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  color: white;
  padding: 15px 30px;
}


