.about-section {
    /*display: flex;*/
    margin: 20px 20px;
    padding: 50px;
   /* background-color: #E3170A;*/
}

.about-img {
  width: 400px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.about-text {
  padding-left: 30px;
  display: inline-table;
}

.about-text h2 {
  font-size: 30px;
  color: #E3170A;
}

.about-text p {
  font-size: 18px;
  color: black !important;

}

/*home section*/
.home-img {
  width: 400px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-text {
  padding-right: 50px;
  display: inline-table;
}

.home-section {
    display: flex;
    /*margin: 30px 30px;*/
    justify-content: space-around;
    padding: 75px;
    background-color: #463F3A;
    margin: 20px 20px;


}

.home-text h2 {
   font-size: 30px;
   color: #6A9113;
}

.home-text p {
  font-size: 18px;
  color: white;
}

.modal-content {
  color: black !important;
}

