.about-section {
    display: flex;
    /*margin: 30px 30px;*/
    padding: 75px;
    background-color: white;
}


.about-img {
  width: 500px;
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.about-text {
  padding-left: 50px;
  display: inline-table;
}

.about-text h2 {
  font-size: 30px;
  color: #870000;
}

.about-text p {
  font-size: 18px;

}

/*home section*/
.home-img {
  width: 500px;
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-text {
  padding-right: 50px;
  display: inline-table;
}

.home-section {
    display: flex;
    /*margin: 30px 30px;*/
    justify-content: space-around;
    padding: 75px;
    background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.home-text h2 {
   font-size: 30px;
   color: #6A9113;
}

.home-text p {
  font-size: 18px;
  color: white;
}

.modal-content {
  color: black !important;
}
